.navbar {
  width: 100%;
  height: 100%;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-dark-filled);
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.navbarMain {
  flex: 1;
  margin-top: 50px;
}

.hr{
  margin-top: 20px;
}

.link {
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-white);

  &:hover {
    background-color: var(--mantine-color-dark-7);
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-blue);
      color: var(--mantine-color-blue-6);
    }
  }
}